body, .quat{
font-family: 'Quattrocento', serif !important;
}
h1 {
font-family: "Suez One";
}
h2, h3, .indie {
  font-family: 'Indie Flower', cursive;
}
.jumbotron {
 padding-top: 20px;
 padding-bottom:0px !important;
 margin-bottom:0px !important;
 background-color:#fff;
 border-bottom: 20px solid;
 border-color:#fc3468;
 padding-bottom:10px;
}
h3, h4, .bottom-margin {
 margin-bottom:20px;
}
.jumbotron p {
 margin-bottom:6px;
}
h2 {
margin-top: 10px;
}
.pink-border-left {
padding-left:8px;
border-left: 2px solid;
border-color:#fc3468;
}
.pink-border-top {
padding-top:8px;
border-top: 2px solid;
border-color:#fc3468;
}
.mb20 {
  margin-bottom: 20px;
}
